// Code styles
pre
  background-color: var(--surface-2)
  padding: var(--size-fluid-2)
  border-radius: var(--radius-2)
  overflow-x: auto
  margin: var(--size-fluid-3) 0
  box-shadow: var(--shadow-2)

pre.mermaid
    background-color: var(--bg-color)

code
  font-family: var(--code-font), monospace
  background-color: var(--surface-1)
  padding: 0
  border-radius: var(--radius-2)
  font-size: var(--font-size-1)

pre code
  background-color: transparent
  padding: var(--size-2) var(--size-2)